body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 800px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto; 
}

h1, h2 {
    text-align: center;
    color: #1b084f;
    font-family: 'Times New Roman', Times, serif;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #444;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 10px;
    background: #3955ae;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #3955ae;
}
